venv
/venv
pylance
pylance
/django_backend/venv
__pycache__
django_backend\__pycache__

migrations
.env
# Ignore all Django migration files except package initializer
django_backend/*/migrations/*.py
!django_backend/*/migrations/__init__.py

# Ignore compiled migrations
django_backend*/migrations/*.py
qdrant_storage
qdrant_storage/raft_state.json